<footer>
  <p class="tagline">
    Follow <a href="http://twitter.com/indiegames_it" title="Indie Games Twitter account.">@indiegames_it</a><br/>
    Subscribe <a href="http://feeds.feedburner.com/indiegames_it" title="Atom feed.">indiegames_it</a><br/>
    Fork <a href="http://github.com/indiegames/indiegames.github.com/" title="Il codice sorgente.">indiegames.github.com</a>
  </p>
  <p class="tagline">Salvo diversa indicazione, tutto il materiale è disponibile con licenza <a href="http://creativecommons.org/licenses/by-sa/2.5/it/" title="Creative Commons license.">Attribution-Share Alike</a>.</p>
</footer>
<section id="background-credits">
  <p class="tagline">Photo by <a href="http://www.flickr.com/photos/gavinbloys/4167967067">gavinbloys</a></p>
</section>