html {
	background: url(http://farm3.staticflickr.com/2725/4167967067_d5cd77d759_b.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	color: #5ec6ff;
	background-color: #edf9ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header,
footer {
	padding: 14px;
}

article {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
}

blockquote {
	font-size: 90%;
	background-color: #eee;
	color: #888;
	padding: 5px 20px;
	margin: 0;
}

body {
	font-family: 'monaco', monospace;
	font-size: 12px;
	background-color: #fff;
	color: #333;
	padding: 10px;
	width: 660px;
}

h1 {
	font-size: 150%;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #999;
	letter-spacing: 2px;
}

h2 {
	padding: 0;
	margin: 0;
	color: #5ec6ff;
	font-weight: normal;
}

nav ul {
	float: left;
	list-style: none inside;
	width: 100px;
	padding: 0 10px 10px 10px;
	margin: 0 20px 0 0;
}

nav ul li {
	padding: 4px;
}

nav ul li a {
	color: #666;
	background-color: #eee;
	padding: 2px;
}

p.tagline {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 75%;
	color: #999;
}

section#container {
	overflow: hidden;
	clear: both;
}

section#contents {
	float: left;
	width: 500px;
}

section#background-credits {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

section#background-credits p {
	background-color: #fff;
	padding: 1px;
	margin: 0;
}

time {
	font-size: 80%;
	color: #999;
}

ul {
	padding: 10px 25px;
}

ul li {
	padding: 2px;
}
