<!DOCTYPE html>
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{page.title}}</title>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  {% include analytics.html %}
</head>
<body>
  {% include facebook.html %}
  <header>
    <h1>Indie Games</h1>
    <p class="tagline">Le recensioni dei migliori videogiochi indipendenti</p>
  </header>
  <section id="container">
    <nav>
      <ul>
        <li><a href="/" title="Gli articoli più recenti.">Indice</a></li>
        <li><a href="/archives/" title="Vecchi articoli.">Archivio</a></li>
        <li><a href="/about/" title="Chi c'è dietro Indie Games?">About</a></li>
      </ul>
    </nav>
    <section id="contents">
      {{content}}
    </section>
  </section>
  <footer>
    <p class="tagline">Segui <a href="http://twitter.com/indiegames_it" title="Indie Games Twitter account.">@indiegames_it</a>, ricevi <a href="http://feeds.feedburner.com/indiegames_it" title="Atom feed.">gli aggiornamenti</a>, o fai fork del <a href="http://github.com/indiegames/indiegames.github.com/" title="Il codice sorgente.">codice sorgente</a> (se sei incline a questo genere di cose).</p>
    <p class="tagline">Salvo diversa indicazione, tutto il materiale è disponibile con licenza <a href="http://creativecommons.org/licenses/by-sa/2.5/it/" title="Creative Commons license.">Attribution-Share Alike</a>.</p>
  </footer>
  <section id="background-credits">
    <p class="tagline">Photo by <a href="http://www.flickr.com/photos/gavinbloys/4167967067">gavinbloys</a></p>
  </section>
</body>
</html>