<!DOCTYPE html>
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/forum.css" media="screen" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="Le recensioni dei migliori videogiochi indipendenti">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.moot.it/1/moot.min.js"></script>
  {% include analytics.html %}
</head>
<body>
  {% include facebook.html %}
  {% include header.html %}
  <section id="container">
    {% include navigation.html %}
    <section id="contents">
      {{content}}
    </section>
  </section>
  {% include footer.html %}
</body>
</html>